* {
  margin: 0;
  background: #F5F7FB;
}
.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  gap: 20px;

  /* Add PNGs as background images */
  background-image: 
    url('./src/assets/yellowblob.png'), 
    url('./src/assets/blueblob.png'); 
  
  /* Prevent repetition of the background images */
  background-repeat: no-repeat, no-repeat;

  /* Position the first PNG in the top-right and the second in the bottom-left */
  background-position: top right, bottom left;

  /* Scale both PNGs proportionally */
  background-size: 40%, 40%;
}

.start h1 {
  color: #293264;
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-size: 31.25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.start p {
  color: #293264;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 500px;
  min-width: 300px;
}

.start button {
  width: 193px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #4D5B9E;
  color: #F5F7FB;
}